---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenido a Agrofast">
	<Carousel />
	<section class="my-10 md:my-5 text-center p-10 h-[30vh] flex justify-center items-center">
		<h2 class="text-2xl md:text-3xl font-medium text-gray-800">
			Nos encargamos de la comercialización, producción y logística de
			productos del agro,desde materia prima e insumos hasta productos
			terminados para consumo.
		</h2>
	</section>
	<section class="my-5 flex flex-wrap gap-10 justify-center items-center">
		<div class="w-[70%] md:w-[40%] min-h-[500px] bg-[#27be27] rounded-xl p-8 text-white text-center grid place-items-center">
			<h3 class="text-3xl font-bold">HARINAS Y BALANCEADOS</h3>
			<p class="text-xl font-semibold">
				Harinas de soya y balanceados de nuestra línea de productos originales AKU para nutrición animal.
Productos elaborados en nuestra fábrica en la ciudad de Santa Cruz.</p>
		</div>
		<div class="w-[70%] md:w-[40%] min-h-[500px] bg-[#fd2d61] rounded-xl p-8 text-white text-center grid place-items-center">
			<h3 class="text-3xl font-bold">GRANOS</h3>
			<p class="text-xl font-semibold">Nuestra unidad de Brokers de Granos se especializa en la compra y venta de soya, maíz y sorgo a granel y al por mayor. Combinamos alta calidad de producto con el servicio de acompañamiento más seguro y confiable.</p>
		</div>
	</section>
	<span class="my-5 font-bold text-2xl text-center block p-3">“Del corazón del campo a la vanguardia de la industria.”</span>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
