---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenido a Agrofast">
	<Carousel />
	<section class="my-10 md:my-5 text-center p-10 h-[30vh] flex justify-center items-center">
		<h2 class="text-2xl md:text-3xl font-medium text-gray-800">
			Nos encargamos de la comercialización, producción y logística de
			productos del agro,desde materia prima e insumos hasta productos
			terminados para consumo.
		</h2>
	</section> 
	<section class="my-5 flex flex-wrap gap-10 justify-center items-center">
		<div class="w-[70%] md:w-[40%] min-h-[500px] bg-[#3fec47] hover:bg-green-600 transition rounded-xl p-8 text-white text-center grid place-items-center">
			<a class=" flex flex-col justify-center items-center p-8" href="/HarinaBalanc">
				<img class="w-[100px]" src="/saco.png" alt="icono de saco de harina">
				<h3 class="text-3xl font-bold">HARINAS Y BALANCEADOS</h3>
				<p class="text-xl font-semibold">
				Ofrecemos harinas de soya y alimentos balanceados de nuestra línea original para la nutrición animal, elaborados en nuestra fábrica ubicada en la ciudad de Santa Cruz.</p>
			</a>
		</div>
		<div class="w-[70%] md:w-[40%] min-h-[500px] bg-[#f0aa41] hover:bg-orange-600 transition rounded-xl p-8 text-white text-center grid place-items-center">
			<a class="grid place-items-center p-8" href="/Granos">
				<img class="w-[70px]" src="/maiz.png" alt="icono de maiz">
				<h3 class="text-3xl font-bold">GRANOS</h3>
				<p class="text-xl font-semibold">Nuestra división de Brokers de Granos se especializa en comercializar soya, maíz y sorgo a granel y al por mayor, combinando la más alta calidad de producto con un servicio de acompañamiento seguro y confiable.</p>
			</a>
		</div>
	</section>
	<span class="my-5 font-bold text-2xl text-center block p-3">“Del corazón del campo a la vanguardia de la industria.”</span>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
