---
import CompCarousel from "./CompCarousel.astro";
---

<section
    id="container-carousel"
    class="relative flex items-center justify-center h-[65vh] bg-black text-white"
>
            <h2 class="text-center text-4xl z-40 font-bold">CON LO MEJOR DEL AGRO, HACEMOS CRECER TU NEGOCIO</h2>
            <img class="images-fond w-full h-full object-cover absolute opacity-45 -z-0" src="/image4.png" alt="imagen de contenedor de maiz y soya">
</section>
<style>
    img{
        transition: 2s all;
    }    
</style>
<script>
    let i=1;
    const imagesFond=document.querySelector('.images-fond')
    console.log()
    setInterval(()=>{
       if(i!==4){
           (imagesFond.attributes[1].nodeValue=`/image${i}.png`)
           return i++
       }
       else{
           return i=1
       }
    },4000)
</script>
