<footer class="bg-green-800 text-center text-green-300 flex justify-center items-center min-h-32 p-3">
    <nav>
        <ul class="grid place-items-center md:flex md:flex-wrap md:justify-center md:items-center md:gap-14 gap-5 text-2xl ">
            <li><a href="/">Inicio</a></li>
            <li><a href="/Granos">Granos</a></li>
            <li><a href="/HarinaBalanc">Harinas - Balanceados</a></li>
            <li><a href="/Contactos">Contactos</a></li>
        </ul>
    </nav>
</footer>